{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
    <title>{% block titulo %}{% endblock %}Agenda</title>
    {% include 'parciais/_head.html' %}

</head>

<body>

{% include 'parciais/_nav.html' %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <br>
            <p align="right">
                <a href="{% url 'register' %}" class="btn btn-primary btn-lg" role="button">Cadastrar-se</a>
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg" role="button">Entrar</a>
            </p>
        </div>
    </div>
</div>

<!-- Inserir Imagem de Logo da Página Inicial -->
<img src="{% static 'img/logo.jpg'%}"
     alt="some text"
     style="display: block; margin-left: auto; margin-right: auto; width: 30%;">
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>