{% extends 'base.html' %}

{% block conteudo%}


<p>
    <span style="font-size:35px; padding-right:720px">Seus Contatos</span>
    <a href="{% url 'dashboard' %}"
       class="btn btn-secondary btn-lg"
       role="button"
       style="background-color:#007bff; border-color:#007bff">Novo Contato</a>
</p>


<table class="table"
       style="border: 1px solid white;
              border-collapse: collapse;
              background-color: #DCDCDC;
              border-radius: 10px;">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Telefone</th>
        <th>Categoria</th>
    </tr>
    </thead>
    <tbody>

    {% for contato in contatos %}
    {% if contato.mostrar %}
    <tr>
        <td>
            <a href="{% url 'ver_contato' contato.id %}"> {{ contato.nome }}</a>
        </td>
        <td>{{ contato.sobrenome }}</td>
        <td>{{ contato.telefone }}</td>
        <td>{{ contato.categoria }}</td>
    </tr>
    {% endif %}
    {% endfor %}

    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">

        {% for pagina in contatos.paginator.page_range %}

        {% if contatos.number == pagina %}
        <li class="page-item active">
            <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>


{% endblock%}